<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Lob&Tadel</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/build/bundle.css">
      <script src="/build/bundle.js" async></script>
      <script src="//use.typekit.net/ixx0wia.js"></script>
      <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
    <% if((locals.navigation && locals.navigation !== true) || typeof locals.navigation === "undefined"){ %>
    <nav class="navbar" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <% include _partials/logo %>
          </a>
        </div>
        <div class="pull-right sub-nav">
          <% if(locals.user){ %>
            <a href="/shot/create" class="btn btn-primary shot-create">Hinzufügen</a>
            <a href="#" class="btn btn-navigation"><span class="glyphicon glyphicon-align-right" aria-hidden="true"></span></a>
            <a href="#notifications" class="btn btn-primary"><span class="glyphicon glyphicon-fire"></span></a>
            <!--<form method="post" action="/user/logout">
              <input type="submit" value="Logout">
            </form>-->
          <% } else { %>
              <a href="/user/register">Registrieren</a>
              <a href="/user/login">Log in</a>
          <% } %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <% } %>
    <div class="container"><%- body -%></div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <% include _partials/logo %>
          </div>
          <div class="col-md-2">
            <h5>Zeig uns deine Arbeiten</h5>
            <p>Lob&amp;Tadel ist eine unabhängige Plattform für Arbeiten der HFU Studenten.</p>
            <p class="copy">&copy; Copyright 2014 - <%= (new Date()).getFullYear() %> Lob&amp;Tadel</p>
          </div>
          <div class="col-md-2">
            <ul class="list-unstyled">
              <li><a href="#">Blog</a></li>
              <li><a href="#">Impressum</a></li>
              <li><a href="#">Kontakt</a></li>
              <li><a href="https://www.facebook.com/lobundtadel.es">Facebook</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <div class="fb-like" data-href="https://www.facebook.com/lobundtadel.es/" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
          </div>
        </div>
      </div>
    </footer>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&appId=609003865836229&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>