<section class="profile row">
	<div class="profile-header col-md-3">
		<img src="<%= profileUser.image() %>" alt"<%= profileUser.fullName() %>" class="img-rounded image">
		<h3><%= profileUser.fullName() %></h3>
		<div class="bio"><%= profileUser.bio  || '' %></div>
		<% if(user && profileUser.id === user.id){ %>
			<a href="/profile/edit" class="btn btn-primary">Bearbeiten</a>
		<% } %>
		<h5>Projekte</h5>
		<ul class="list-unstyled">
		<% projects.forEach(function(project){ %>
			<li><a href="/projects/<%= project.id %>" ><%= project.name %></a></li>
		<% }); %>
		</ul>
	</div>
	<ol class="shots col-md-8 col-md-offset-1">
		<% var inProfile = true %>
		<% shots.forEach(function(shot){ %>
			<li><%= include ../_partials/shot %></li>
		<% }) %>
	</ol>
</section>
